////npm.pkg.github.com/:_authToken=dae0cbd1389191366d29772130c0eedffe5b9d5d
//@manimekalai30:registry=https://npm.pkg.github.com


//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
@manimekalai30:registry=https://npm.pkg.github.com
