#registry=https://npm.pkg.github.com/manimekalai30

#@manimekalai30:registry=https://npm.pkg.github.com/

@manimekalai30:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=283e63c993d1de50dbc6b73c5ad21ba6b753683f
