#registry=https://npm.pkg.github.com/manimekalai30

#@manimekalai30:registry=https://npm.pkg.github.com/

@manimekalai30:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=ad8c0c655f63b73df9416ef874c609347af8c6e6
